
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Syne', sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
}

html,
body,
#root {
  max-width: 100vw !important;
  min-height: 100vh;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

